html, body { height: 100%; }
#root{
    height: 100%;
}

.App {
    margin: 1rem;
}
.ppRow {
    height: fit-content;
}

.pp-right-align {
    justify-content: right;
    text-align: right;
}

.ppContainer {
    padding: 0 0;
    max-width: 100%;
}

.pp-list {
    list-style-type: none;
    /*padding-left: unset;*/
}
.pp-sidebar-option-selected {
    background: rgba(0,156,222,.8);
}

.ppBordered {
    border: black solid;
    height: fit-content;
    overflow: scroll;
}
.ppSidebar {
    background-image: linear-gradient(to bottom, #006EB8, #003188);
    height: 100vh;
    color: #FFFFFF;
}

.pp-link:hover {
    cursor: pointer;
    color: white;
    font-weight: bolder;
}

.pp-link {
    padding-left: 1rem;
    color: whitesmoke;
}

.pp-link:not(:hover) {
    color: whitesmoke;
    font-weight: normal;
}

.pp-link__done {
    padding-left: 1rem !important;
    color: lawngreen !important;
    font-weight: bolder !important;
    cursor: not-allowed !important;
}

.pp-link__err {
    padding-left: 1rem;
    color: lightcoral;
}

.pp-icon {
    padding: 1rem;
}

.pp-title {
    color: black;
    text-align: center;
}

.pp-code-container {
    border: black solid;
    height: 100vh;
    padding: 0 0;
    overflow: scroll;
}
.ppvx_selection-group__buttons--justify {
    display: flex;
    flex-wrap: wrap;
}
.pp-code {
    display: block;
    overflow-x: scroll;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
    height: 100vh;
}

pre {-moz-tab-size: 4;} /* Firefox */
pre {tab-size: 4;}



/* new styles */
body {
    color: black;
  }
  
  .wrapper {
    height: 100%;
    display: table;
    width: 100%;
  }
  
  .header {
    align-items: center;
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    height: 3.75rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    top: 0;
    transition: all 0.15s ease-out;
    width: 100%;
    z-index: 10;
    display: table-row;
  }
  
  .main {
    border-top: 1px solid #e4e4e4;
    height: 100%;
    display: table;
    width: 100%;
  }
  
  .box {
    display: table-cell;
  }
  .box-content {
    width: 40%;
    display: table-cell;
  }
  
  .sidebar {
    background: #009cde linear-gradient(167deg, #009cde, #003087 40rem);
    bottom: 0;
    font: 400 1rem Helvetica, Arial, sans-serif;
    left: 0;
    top: 0;
    width: 16rem;
    height: 100%;
  }
  .sidebar-right {
    background: black;
    font-size: 18px;
    color: white;
    height: 100%;
    padding-top: 20px;
  }
  
  .footer {
    display: table-row;
    height: 1px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li a {
    display: block;
    color: white;
    opacity: .7;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  /* Change the link color on hover */
  li a:hover {
    opacity: 1;
    color: white;
  }

  .isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
  }

  .ppvx_tile{
    padding: 0 !important;
  }

  .copyToClipboard{
    position: absolute;
    right: 30px;
  }

  .copyToClipboard:hover{
    cursor: pointer;
  }

  .donwloadButton{
    position: absolute;
    right: 30px;
    top: 45px;
  }

  .donwloadButton:hover{
    cursor: pointer;
  }


  .runCode{
    position: absolute;
    right: 30px;
    top: 80px;
  }

  .runCode:hover{
    cursor: pointer;
  }


  