.App {
    margin: 1rem;
}
.ppRow {
    height: fit-content;
}

.pp-right-align {
    justify-content: right;
    text-align: right;
}

.ppContainer {
    padding: 0 0;
    max-width: 100%;
}

.pp-list {
    list-style-type: none;
    /*padding-left: unset;*/
}
.pp-sidebar-option-selected {
    background: rgba(0,156,222,.8);
}

.ppBordered {
    border: black solid;
    height: fit-content;
    overflow: scroll;
}
.ppSidebar {
    background-image: linear-gradient(to bottom, #006EB8, #003188);
    height: 100vh;
    color: #FFFFFF;
}

.pp-link:hover {
    cursor: pointer;
    color: white;
    font-weight: bolder;
}

.pp-link {
    padding-left: 1rem;
    color: whitesmoke;
}

.pp-link:not(:hover) {
    color: whitesmoke;
    font-weight: normal;
}

.pp-link__done {
    padding-left: 1rem;
    color: lawngreen;
    font-weight: bolder;
    cursor: not-allowed;
}

.pp-link__err {
    padding-left: 1rem;
    color: lightcoral;
}

.pp-icon {
    padding: 1rem;
}

.pp-title {
    color: black;
    text-align: center;
}

.pp-code-container {
    border: black solid;
    height: 100vh;
    padding: 0 0;
    overflow: scroll;
}
.ppvx_selection-group__buttons--justify {
    display: flex;
    flex-wrap: wrap;
}
.pp-code {
    display: block;
    overflow-x: scroll;
    padding: 0.5em;
    background: #1E1E1E;
    color: #DCDCDC;
    height: 100vh;
}

pre {-moz-tab-size: 4;} /* Firefox */
pre {tab-size: 4;}
